.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links a,
.nav-links button {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  color: #1e40af;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 0.375rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #eff6ff;
  color: #1e40af;
  border-color: transparent;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #1e40af;
  color: #1e40af;
  background: transparent;
  padding: 0.5rem 1rem;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.nav-links button:hover,
.nav-links button:active {
  background: #1e40af;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
    width: auto;
    justify-content: flex-start;
  }

  .nav-links a,
  .nav-links button {
    width: auto;
    text-align: left;
  }

  .nav-links a {
    /* color: white; */
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
    color: #292929;
  }
}
